<li>
	<span class="title">
		<h4><%= post.title%></h4>
	</span>
	<span class="content"><%= post.content%></span>
	<span class="timestamp">
		Posted<%= time_ago_in_words(post.created_at)%> ago.
	</span>
</li>
